*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--default-background-color);
  font-family: var(--default-font);
  line-height: var(--default-line-height);
  color: var(--default-text-color);

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
}

img {
  max-width: 100%;
  object-fit: contain;
}

img,
svg {
  vertical-align: middle;
}
